<template>
  <div id="home-view">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <MainHome msg="Just Testing for welcoming page!"/> -->

   <div v-if="images.length == 8" class="images container">
    <div class="row">
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[0].url" alt="" width="100%"></a>
        </div>
      </div>
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[1].url" alt="" width="100%"></a>
        </div>
      </div>
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[2].url" alt="" width="100%"></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[3].url" alt="" width="100%"></a>
        </div>
      </div>
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[4].url" alt="" width="100%"></a>
        </div>
      </div>
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[5].url" alt="" width="100%"></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[6].url" alt="" width="100%"></a>
        </div>
      </div>
      <div class="col-sm">
        <div class="image mx-auto">
          <a :href="images[0].url" target="_blank"><img :src="images[7].url" alt="" width="100%"></a>
        </div>
      </div>
      <div class="col-sm">
        <div class="add-photo"><span>+ Add Photo</span></div>
      </div>
    </div>
  </div>

  <div v-else class="loader">
    <span>Please wait. Fetching images..</span>
    <img src="../assets/loader01.gif" alt="" height="70px">
  </div>

  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'home',
  data() {
    return {
      images : [],
    }
  },
  async mounted() {
    let pic_res = null;
    
    for (let ind = 0; ind < 8; ind++) {
      pic_res = await axios.get('http://www.splashbase.co/api/v1/images/random', {
        params : {
          images_only : true
        }
      })
      this.images.push(pic_res.data)
    }

    // console.log('All Data', this.images)
  }
}
</script>


<style scoped>
#home-view {
  color: #ffffff;
  height: 510px;
  overflow: scroll;
}

.images {
  
}

.images .image {
  border-radius: 3px;
}

.images .add-photo {
  border: 1px solid #ffffff;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  line-height: 13;
  font-family: PTSans-Bold;
}
.images .add-photo span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.images .image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.images .image img {
  border-style: none;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.row {
  margin-bottom: 20px;
}

.image {
  background: #000000;
  height: 200px;
  width: 100%;
  
}


.loader {
  display: inline-grid;
}
.loader span{
  margin-bottom: 5px;
  font-family: PTSans-Regular;
}
.loader img{
  margin: auto;
}
</style>
