<template>
  <div id="app">
    
    <!-- <div class="top-bar"></div> -->

    <nav class="navbar navbar-expand-lg bg-none container">
      <a class="navbar-brand" href="#"><span>Terato</span>Gallery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><router-link class="nav-link" to="/">Home</router-link></li> 
          <li class="nav-item"><router-link class="nav-link" to="/about">About</router-link></li> 
          <li class="nav-item"><router-link class="nav-link" to="/contact">Contact</router-link></li>
        </ul>
      </div>
    </nav>

    <router-view/>

    <div class="footer">
      <nav class="navbar navbar-expand-sm">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse container" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><router-link class="nav-link" to="/">Home</router-link></li> 
            <li class="nav-item"><router-link class="nav-link" to="/about">About</router-link></li> 
            <li class="nav-item"><router-link class="nav-link" to="/contact">Contact</router-link></li>
          </ul>
          <span class="navbar-text">
            2016, Copyright by Terato Tech
          </span>
        </div>
      </nav>

      <!-- <div class="bottom-bar"></div> -->
    </div>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  height: 100vh;
  background: #293337;
}


/*Override*/
nav.bg-none {
  background: none;
}
nav a.navbar-brand {
  color: #ffffff;
  font-size: 36px;
  font-weight: 100;
  font-family: PTSans-Regular ;
}
nav a.navbar-brand span{
  font-weight: bold;
  font-family: PTSans-Bold ;
}
nav .nav-item a {
  font-weight: 500;
  color: #ffffff;
  margin-right: 15px;
  font-size: 24px;
  font-family: PTSans-Regular;
}
nav .nav-item a.router-link-exact-active {
  color: #4AA4FF;
  font-family: PTSans-Bold;
}
nav .navbar-toggler {
  border: 1px solid #ffffff;
}

.top-bar {
  width: 100%;
  height: 40px;
  background: #000000;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.footer nav {
  background: #4AA4FF;
  /* height: 70px !important; */
}
.footer nav .nav-item a {
  font-weight: bold;
  color: #ffffff;
  margin-right: 15px;
  font-size: 14px;
}
.footer nav .navbar-text {
  font-weight: bold;
  font-family: PTSans-Bold;
}
.footer nav .nav-item a.router-link-exact-active {
  /* color: #293337; */
  color: #ffffff;
}
.footer .bottom-bar {
  width: 100%;
  height: 40px;
  background: #000000;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-collapse {
      height: 60px;
  } 
}

/* nav .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
} */

</style>
